<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{site.url}}{{site.baseurl}}">{{site.title}}</a>
</div>
<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav navbar-right">
		<li role="presentation">
			<a class="page-link" href="/acerca-de">Acerca de...</a>
		</li>
		<li role="presentation" class="hidden-xs">
			<span>//</span>
		</li>
		<li>
			<a href="#">Tecnologías
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<!-- <li>
					<a href="#">Android
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Java
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/android-avanzado">Avanzado</a>
								</li>
							</ul>
						</li>
					</ul>
				</li> -->
				<li>
					<a href="#">Microsoft
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">.NET
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href="/net-basico">Básico</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">C#
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
										<a href="/csharp-basico">Básico</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>